@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

:root {
  --panel-transparent-bg-cl: #f7f4f290;
  --panel-bg-cl: #f7f4f2;
  --button-bg-color: #ffffff;
  --button-hover-color: #dadada;
  --button-click-color: #ccc;
  --text-color: #333;
  --border-color: rgba(50, 50, 50, 0.747);
  --shadow-color-dark: rgba(0, 0, 0, 0.7);
  --shadow-color-light: rgba(255, 255, 255, 0.7);

  font-family: "Jersey 10", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  text-align: justify;
  line-height: 1;

  color: var(--text-color);
  background: linear-gradient(135deg, #aec3d1, #d5bedd);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  border: 3px solid var(--border-color);
  box-shadow:
    -3px 4px 2px var(--shadow-color-dark),
    3px -4px 5px var(--shadow-color-light);
}

.clickable {
  transition: all 0.2s;
}

.clickable:hover {
  transform: translate(-1px, 2px);
}

.clickable.panel:hover {
  box-shadow:
    -2px 2px 2px var(--shadow-color-dark),
    4px -5px 5px var(--shadow-color-light);
}

.clickable:active {
  transform: translate(-2px, 4px);
}

.clickable.panel:active {
  box-shadow:
    -1px 1px 2px var(--shadow-color-dark),
    5px -7px 5px var(--shadow-color-light);
}